<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiuba.mensajero" >

    <uses-sdk android:minSdkVersion="12" />

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewFriendsActivity"
            android:label="Lista de amigos"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiuba.mensajero.MainActivity" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/activity_chat"
            android:parentActivityName=".ListViewFriendsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiuba.mensajero.ListViewFriendsActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiuba.mensajero.MainActivity" />
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiuba.mensajero.LoginActivity" />
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:label="@string/title_activity_login_reg"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiuba.mensajero.LoginActivity" />
        </activity>

        <service
            android:name=".NetworkService"
            android:enabled="true" />

        <activity
            android:name=".LoginRegActivity"
            android:label="@string/title_activity_login_reg"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiuba.mensajero.LoginActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Perfil"
            android:parentActivityName=".ListViewFriendsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiuba.mensajero.ListViewFriendsActivity" />
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="Edicion del perfil"
            android:parentActivityName=".ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiuba.mensajero.ProfileActivity" />
        </activity>
        <activity
            android:name=".ImageUploadActivity"
            android:label="@string/title_activity_image_upload" >
        </activity>
    </application>

</manifest>
